.popup__full-name{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  height: 40px;
  width: 100%;
  margin-top: 62px;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}

