.popup__input-string{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  width: 100%;
  height: 32px;
  margin-bottom: 21px;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}

.popup__input-string:last-of-type{
  margin-bottom: 0;
}
